.git/
.github/
local/
node_modules/
src/
temp/

.editorconfig
.env
.env.example
.eslintignore
.eslintrc.json
.gitignore
.prettierrc
docker-compose.yaml
Dockerfile
jest.config.js
LICENSE
README.md
tsconfig.json
tsconfig.release.json

*.log